@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
}

html,head,body{
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
}

:root {
    --color-secondary: #2ecc71;
    --color-accent: #e74c3c;
    --color-black: #000000;
    --color-dark: #34495e;
    --color-light: #ecf0f1;
    --color-text-light: #777;

    --border-color:#D8D8D8;

    --icon-color:#888888;
    --selected-icon-color:#000;
    --secondary-text-color:#888888;
    --selected-secondary-text-color:#000;

    --color-primary: #CDFF3E;
    --color-text: #000;
    --color-background: #fff;
    --color-secondary-background: #C7CBD2;
    --ternary-background-color: #EEEEEE;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}

.button-hover {
    border-radius: 20px;
    background: red;
    border: none;
    opacity: 0;
    color: black;
    transition: opacity 0.3s;
    padding: 10px;
    position: absolute;
    top: 40px;
}

.button-hover.visible {
    opacity: 1;
}

.button-hover.hidden {
    opacity: 0;
}

.search-container {
    position: relative;
    display: inline-block;
  }

  .search-container input[type="text"] {
    width: 250px;
  }
  
  .search-container i.fa-search {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #aaa;
    pointer-events: none;
  }

  .div-header{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



header{
    width: 90%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
}

.div-header input{
    border-radius: 25px;
    border: none;
    padding: 10px;
    outline: none;
}

.div-buscador{
    margin-right: 50px;
}


.div-p-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* En tu archivo CSS global o en un <style> tag */
.no-scroll {
    overflow: hidden;
  }
  