@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    height: 100%;
}

:root {
    --color-primary: #CDFF3E;
    --primary-color: #CDFF3E;

    --blue-color: #1D72F2;
    --red-color: #FF3E3E;
    --green-color: #CDFF3E;

    --color-text: #000;
    --text-color: #000;
    --secondary-text-color: #888888;
    --selected-secondary-text-color: #000;

    --icon-color: #888888;
    --selected-icon-color: #000;

    --background-color: #fff;
    --secondary-background-color: #C7CBD2;
    --ternary-background-color: #EEEEEE;

    --secondary-button-color:#EEEEEE;
    --secondary-button-hover-color: #e9e9e9;
    --secondary-button-active-color: #f8f8f8;

    --border-color: #D8D8D8;

    --context-menu-index:1;
    --overlay-index:5;
}

*:focus {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}
svg{
    color: var(--icon-color);
}
input{
    border: none;
    outline: none;
    background: none;
}
button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
}


.div-header {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.no-scroll {
    overflow: hidden;
}

.primary-button{
    border-radius: 14px;
    outline: none;
    border: none;
    color: var(--color-text);
    font-size: 18px;
    font-weight: 500;
    padding: 13px 25px;
    background: var(--color-primary);

    display: flex;
    justify-content: center;
    align-items: center;
}
.primary-button.blocked{
    cursor: default;
    opacity: 0.5;
}

.faded{
    pointer-events: none;
    opacity: 0.5;
}

.user-box{
    display: flex;
    position: relative;
    align-items: center;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    10%, 30%, 50%, 70%, 90% {
        transform: translateX(-10px);
    }
    20%, 40%, 60%, 80% {
        transform: translateX(10px);
    }
}
.shake {
    animation: shake 0.5s ease-in-out;
}

.context-menu{
    background: var(--background-color);
    margin-top: 10px;
    padding: 5px;
    width: 200px;
    border-radius: 12px;
    border: 1px solid var(--border-color);

    z-index: var(--context-menu-index);

    .menu-item{
        width: 100%;

        padding: 15px;
        gap: 15px;
        display: flex;
        white-space: nowrap;
        align-items: center;
        justify-content: start;
        border-radius: 6px;

        cursor: pointer;
    }
    .menu-item:hover{
        background: var(--ternary-background-color);
    }
    .menu-item span{
        font-size: 16px;
        font-weight: 500;
    }
}
