DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_IP=
DATABASE_PORT=

#Secret key in BASE64 and 64BYTES
JWT_SECRET=
JWT_EXPIRATION=

#Client url for CORS settings
CLIENT_URL=

# Elasticsearch 8.x.x configuration
ELASTIC_URL=
ELASTIC_USERNAME=
ELASTIC_PASSWORD=


# MOVE THIS TO `application.properties` IF NEEDED
# Elastic SSL connection
#spring.elasticsearch.rest.use-ssl=false

# SSL settings if needed
#spring.elasticsearch.rest.key-store=classpath:keystore.p12
#spring.elasticsearch.rest.key-store-password=
#spring.elasticsearch.rest.key-store-type=