DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_IP=
DATABASE_PORT=

#Secret key in BASE64 and 64BYTES
JWT_SECRET=
JWT_EXPIRATION=3600000

#Client url for CORS settings
CORS_ALLOWED_ORIGIN=http://localhost:5173/

#Default user for first time
ROOT_USER_EMAIL=admin@example.com
ROOT_USER_PASSWORD=admin

#Total storage limit in bytes
STORAGE_LIMIT=1000000000

# Elasticsearch 8.x.x configuration
ELASTIC_URL=
ELASTIC_USERNAME=
ELASTIC_PASSWORD=


# MOVE THIS TO `application.properties` IF NEEDED
# Elastic SSL connection
#spring.elasticsearch.rest.use-ssl=false

# SSL settings if needed
#spring.elasticsearch.rest.key-store=classpath:keystore.p12
#spring.elasticsearch.rest.key-store-password=
#spring.elasticsearch.rest.key-store-type=

# Application configuration for docker
SPRING_PROFILES_ACTIVE=
JAVA_OPTS=